<div id="footer">
    <div class="container"> 
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-menu">
                            <span class="menu-title"> Store Name</span>
                            <ul>
                                <li>
                                    <a href="">
                                        About
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                    Contact
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Career
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Policy
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-menu">
                            <span class="menu-title">Store Name</span>
                            <ul>
                                <li>
                                    <a href="">
                                        About
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                    Contact
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Career
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Policy
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-menu">
                            <span class="menu-title">Store Name</span>
                            <ul>
                                <li>
                                    <a href="">
                                        About
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                    Contact
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Career
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Policy
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="social-title"> Follow Us </div>
                <ul class="social-icons">
                    <li> 
                        <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li> 
                        <a href=""><i class="fa fa-google" aria-hidden="true"></i></a>
                    </li>
                    <li> 
                        <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li> 
                        <a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a>
                    </li>
                    <li> 
                        <a href=""><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    </li>
                </ul> 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr>
                <span class="address">StoreNmae 23 Grand Ave, Los Angeles, California 93117</span>
            </div>
        </div>
    </div>
</div>

{% style %}
    
#footer {
    background-color: #1b1b1b;
    padding: 50px 0;
}

#footer .footer-menu .menu-title, #footer .col-md-6 .social-title {
    color: #ffff00;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
}

#footer .footer-menu a {
    color: white;
}

#footer .social-icons {
    display: flex;
}

#footer .social-icons li {
    margin-right: 15px;
}

#footer .social-icons a{
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 50%;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    transition: all .2 ease-in-out;
}

#footer .social-icons a:hover{
    color: #ffff00;
    background: black;
}

#footer .address {
    color: #dddfe4;
    text-align: center;
    display: block;
    width: 100%;
}
{% endstyle %}