<!-- {% section 'empty' %}  -->
 
<header>
    <div class="logo">
            <a href="#">Store Name</a>
        </div>
        <ul class="menu">  
            <li class="link">
                <a href="#">About</a>
            </li>
            <li class="link dropdown"> 
                <a  href="#"> 
                    About
                </a>
                <div class="sub-menu">
                    <a class="sub-link">Link- 1</a>
                    <a class="sub-link">Link- 2</a>
                    <a class="sub-link">Link 3</a>
                </div>
            </li>
        </ul> 
    </header>
    {% section 'empty' %}

    {% section 'sub-section' %}
       
    {% section 'mid-section-image' %}
    
    {% section 'product-group' %}
    <footer>
</footer> 

